@page
@model Popple.Pages.Accounts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Role)
        </dd>
    </dl>
</div>
<div>
    @{
        var accountID = HttpContext.Session.GetInt32("AccountId");
        var accountIDString = accountID.ToString();
    }
    <a asp-page="./Edit" asp-route-id="@accountIDString">Edit</a> |
    <a asp-page="./Index">Back to Popple Directory</a>
</div>
