@page
@model Popple.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Directory";
}

<h1>Account Actions:</h1>
<div>
    @{
        var accountID = HttpContext.Session.GetInt32("AccountId");
        var accountIDString = accountID.ToString();
    }
    <a asp-page="./Edit" asp-route-id= "@accountIDString" >Edit</a> | 
    <a asp-page="./Details" asp-route-id="@accountIDString">Details</a> |
    <a asp-page="./Delete" asp-route-id="@accountIDString">Delete</a>
</div>

<hr />

<h2>Directory</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Email)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
}

    </tbody>
</table>
